<a href="https://colab.research.google.com/github/SahrsRoyal/Sahrs-AI-Lab-Report/blob/main/lab-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random
x=[1,2,3]
y=random.choice(x)
print(y)

1

In [2]:
mport math
math.sqrt(8)
print(math.pi)
print("seyad "*4)
a="seyad"
y=a.capitalize()
print(y)
a.find('b')

SyntaxError: ignored

In [ ]:
mlist1=[]
print("enter a number for list 1")
for i in range(32):
  a=input("number")
  n=a
  mlist1.append(n)


mlist2=[]
print("enter a number for list 1")
for i in range(3):
  a=input("number")
  n=a
  mlist2.append(n)

list3=mlist1+mlist2
print(list3)

In [ ]:
def inpalodrom(word):
  temp=word[::-1]
  if temp.captalize=word.captalize:
    return true
  else:
    return false  
print(inpalodrom("dead"))

In [ ]:
a=[1,2,3,4]
b=[4,5,6,7]
c=[]

for indrow in range(3):
  c.append([])
  for indrow1 in range(3):
    c(indrow).append(0) 
    for indrow11 in range(3):
      c[indrow ][indrow1]+=b[indrow ][indrow11]*a[indrow1][indrow11]

In [ ]:
def symdiff(a,b):
  e=set()
  for i in a:
    if i not in b:
      e.add(i)
  for i in a:
    if i not in a:
      e.add(i)

      return e
set_A = {1, 2, 3, 4, 5}
set_B = {6, 7, 3, 9, 4}

print(symdiff(set_A,set_B))

print(set_A.symmetric_difference(set_B))      
print(set_B.symmetric_difference(set_A))
print(set_A^set_B) 
print(set_B^set_A)

In [ ]:
sample={("sohain","ali"):"01233475",
("sohaskalkin","ai"):"01233475",
("sSAohain","SSSali"):"01233475",
}
firstname=input("input name")
lastname=input("input name")
searchtuple=(firstname,lastname)
if searchtuple in sample:
  print(sample(searchtuple))
else:
  print ("not found")

In [5]:
n = int(input("Enter size of list  : "))
 
for i in range(0, n):
    element = int(input("Enter a number in list 1 :-"))
 
    lst1.append(element) 
     
print("List 1 is :-"+str(lst1))

 
for i in range(0, n):
    element2 = int(input("Enter a number in list 2 :-"))
 
    lst2.append(element2) 
     
print("List 2 elements are :-"+str(lst2))

lst3=lst1+lst2
print("list 3"+str(lst3))
a=max(lst3)
b=min(lst3)
print("maximum element in list"+str(a))
print("minimum element in list"+str(b))

Enter size of list  : 4
Enter a number in list 1 :-12

NameError: ignored

In [ ]:
contact_items =[{'name': ['saif'],
                 'age': ['25'],
                 "city": ["New york"],
                 'salary': [1000]}]





[{'name': ['saif'],
                 'salary': [1000]}]

list1 = ''
list2 = ''
list3 = []
test_dict = {}

for item in contact_items:
    list1 = item['name']
    list2 = item['salary']

test_dict = {}

for k in list1:
    for l in list2:
        test_dict['name'] = k
        test_dict['salary'] = l
        list3.append(test_dict)

print(list3)

In [ ]:
from sympy.functions.special.spherical_harmonics import Ynm
from sympy.functions import yn
from sympy.algebras.quaternion import cos
from sympy import sin
import math

def pii(a):
  x=0.001
  s=sin(x)
  y=cos(x)
  s=y
  z=y

print(pii(z))